    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }

    @media screen and (max-width:670px) {
        section {
            width: 100vw !important;
            transition: .1s;
        }
    }

    html {
        height: 844px
    }

    body {
        height: 100vh;
        background: linear-gradient(0deg, #022a49, #5788ac);
        background-attachment: fixed;

    }

    /* Corpo principal (Área azul do fundo) */
    section {
        width: 390px;
        height: 844px;
        margin: 0 auto;
        background: linear-gradient(0deg, #04538f, #81cafd);
        transition: .1s;
    }

    main,
    header,
    footer {
        width: 390px;
        margin: 0 auto;
    }



    body {
        text-align: center;
    }

    /* Section principal */
    .fundo {
        width: 390px;
        height: 844px;
        margin: 0 auto;
        background: linear-gradient(0deg, #04538f, #81cafd);
    }

    /* Imagem do ícone */
    .icone {
        width: 100px;
        padding: 0px;
        margin: 0px;
    }

    /* Botão laranja */
    .icon {
        background-color: #f78c21;
        width: 317px;
        height: 165px;
        margin: 20px 0px;
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        font-weight: 600;
        border: solid 3px #2d6c99;
        box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.35), inset 0px 15px 15px rgba(255, 255, 255, 0.35);
        transition: .4s;
        cursor: pointer;
    }

    .icon:hover {
        transform: translateY(7px);
        box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.35), inset 0px 15px 15px rgba(255, 255, 255, 0.35);
        transition: .2s;
    }

    /* Link */
    .icon a {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        color: white;
    }

    /* Seleção da imagem ícone e da legenda */
    .icon a figcaption,
    .icon a img {
        margin: 0px 15px;
    }

    /* Conjunto dos dois botões */
    .icones {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Logo do senac */
    #icone-senac {
        width: 250px;
        filter: drop-shadow(0px 8px 5px rgba(0, 0, 0, 0.20));
        margin-top: 20px;
    }

    .title {
        margin-top: 40px;
    }

    .title p {
        font-size: 1.8em;
        color: white;
        font-weight: 600;
        text-shadow: 0px 5px 10px rgba(0, 0, 0, .3);
    }