@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
    background-color: rgb(31, 31, 31);
}
a {
    text-decoration: none;
}
:root {
    --sombras: rgba(0, 0, 0, 0.4);
}


@media screen and (min-width: 572px) {
    .espacoI {
        margin-top: 100px;
    }
    .position-fixed-navbar {
        position: fixed;
    }
    header {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 1em;
        width: 100vw;
        top: 0;
    }
    header h1 {
        color: rgb(201, 40, 40);
        font-size: 3em;
        letter-spacing: 5px;
        margin-left: 20px;
    }
    header h2 {
        display: none;
    }
    .slide-in-left-h1 {
        -webkit-animation: slide-in-left-h1 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: slide-in-left-h1 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    @-webkit-keyframes slide-in-left-h1 {
        0% {
          -webkit-transform: translateX(-1000px);
                  transform: translateX(-1000px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          opacity: 1;
        }
      }
      @keyframes slide-in-left-h1 {
        0% {
          -webkit-transform: translateX(-1000px);
                  transform: translateX(-1000px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          opacity: 1;
        }
      }
      
    .links-nav-bar {
        margin-right: 20px;
        letter-spacing: 1px;
        font-weight: 500;
        background-color: rgb(201, 40, 40);
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.30);
        border-radius: 10px;
        transition: .2s;
        transition-timing-function: ease;
    }
    .links-nav-bar:hover {
        border-radius: 5px;
    }
    .separar {
        display: none;
    }
    .pages {
        display: none;
    }
    .about {
        color: white;
        background-color: white;
        color: black;
        margin: 0 auto;
        margin-top: 50px;
        width: 500px;
        border-radius: 5px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    }
    .img-about {
        width: 100%;
        height: 130px;
        background-image: url('https://c4.wallpaperflare.com/wallpaper/50/1010/426/nissan-silvia-s13-silvia-s13-wallpaper-preview.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 5px 5px 0px 0px;
    }
    .desc-about {
        padding: 1em;
    }
    .desc-about p {
        font-weight: 200;
        text-align: justify;
    }
   
    .container-cliente h3 {
        margin-bottom: 10px;
    }
    .desc-estado {
        color: white;
        text-align: justify;
        margin: 0 auto;
        margin-bottom: 20px;
        width: 500px;
    }
    .selecionarEstado {
        width: 50%;
        margin: 0 auto;
    }
    .btn-pesquisa {
        text-align: center;
        margin-top: 10px;
    }

    .respQuery {
        display: flex;
    }

    .error {
        display: flex;
        justify-content: center;
        color: red;
    }




    .espacoF {
        margin-bottom: 100px;
    }
    footer {
        position: fixed;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.8);
        width: 100vw;
        text-align: center;
        padding-top: 10px;
        font-weight: 600;
        letter-spacing: 2px;
    }
    footer:hover {
        background-color: white;
        transition: .2s;
        transition-timing-function: ease;
    }
    footer a {
        color:rgb(0, 0, 0);
    }
    footer a:hover {
        text-decoration: underline;
    }
}
