* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
body {
    background-color: rgb(31,31,31);
}
.btns-navbar {
    transition: .2s;
}
.btns-navbar:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
h1,h2,h3,h4,h5,h6 {
    overflow: hidden;
}