@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --sombra: rgba(0, 0, 0, 0.10)
}

body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

header {
    padding-bottom: 1.5em;
    box-shadow: 0px 4px 5px var(--sombra);
}

#pesquisa {
    width: 75vw;
    height: 40px;
    padding-left: 10px;
    color: rgb(41, 41, 41);
    outline: none;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 0px 4px 5px var(--sombra);
}
#pesquisa:focus {
    background-color: rgb(248, 248, 248);
}
#lupa {
    font-size: 2em;
    display: flex;
    align-items: center;
    margin: 5px;
}

#icon-menu {
    font-size: 2.5em;
    cursor: pointer;
    margin-left: -10px;
    margin-right: 10px;
}

.compras-icone {
    width: 100px;
    height: 100px;
    background-image: url("../img/sacola.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.catgo {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 100%;
    box-shadow: 0px 4px 5px var(--sombra);
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .2s;
}

.catgo:hover {
    box-shadow: 0px 0px 10px var(--sombra);
}

.catg:active {
    background-color: #D7ECFF;
}

.catgo>p {
    width: 100%;
    text-align: center;
    text-shadow: 0px 4px 5px var(--sombra);
    font-weight: 4 00;
    margin-top: 20px;
}

.img-carousel01 {
    background-image: url("../img/banner01.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 100vw;
}

.img-carousel02 {
    background-image: url("../img/banner02.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 100vw;
}

.img-carousel03 {
    background-image: url("../img/banner03.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 100vw;
}

.imgs-carousel {
    filter: brightness(50%);
}

.shadow-carousel {
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.50);
}
.mais-comprados {
    letter-spacing: 5px;
    text-align: center;
    text-shadow: 0px 4px 5px var(--sombra);
}
.qtd {
    outline: none;
    width: 20%;
    outline: none;
    margin-left: 10px;
    border: none;
}





.text-focus-in {
    -webkit-animation: text-focus-in 0.6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 0.6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}




.rotate-vert-center {
	-webkit-animation: rotate-vert-center 10s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
	        animation: rotate-vert-center 10s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}

@-webkit-keyframes rotate-vert-center {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }

    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

@keyframes rotate-vert-center {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }

    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}